@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Samim";
  src: url("../assets/fonts/Samim.eot"), url("../assets/fonts/Samim-Bold.eot");
  src: url("../assets/fonts/Samim.eot") format("embedded-opentype"),
    url("../assets/fonts/Samim-Bold.eot") format("embedded-opentype"),
    url("../assets/fonts/Samim.woff") format("woff"),
    url("../assets/fonts/Samim-Bold.woff") format("woff"),
    url("../assets/fonts/Samim-Bold.woff2") format("woff2"),
    url("../assets/fonts/Samim.woff2") format("woff2"),
    url("../assets/fonts/Samim-Bold.ttf") format("truetype"),
    url("../assets/fonts/Samim.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Samim";
  color: #1A1A1A;
  background: #fffeda;
}

:root {
  min-height: 100%;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

.toastify-class {
  font-family: "Samim";
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
