.swiper-pagination-bullet {
  border: 2px solid #dc3a35;
  width: 1rem !important;
  height: 1rem !important;
  margin-bottom: 1rem;
  overflow: visible !important;
  transform: translate(50%, 200%);
}

:root {
  --swiper-theme-color: #dc3a35 !important;
}

.swiper-wrapper {
  display: flex;
}

.swiper {
  overflow: hidden;
}

.hero-slides {
  display: flex;
  justify-content: flex-end;
}
